---js
const eleventyNavigation = {
	key: "Concerts",
	order: 3
};
---
<h1>Concerts</h1>

<p>The Viola da Gamba Society of Philadelphia periodically hosts concerts featuring the viola da gamba.</p>

{% set postslist = collections["concerts"] %}
{% include "postslist.njk" %}
