<div class="flex dashed-bottom-border">
  <img src="./vdgsphilly_logo.png" alt="VdGS Philly Logo">
  <div>
    <h1>Upcoming Events</h1>
      <div>
      <h3>Workshops</h3>
      <ul>
      {%- for item in collections.workshops -%}
        <li>
          <p><b>{{ item.data.date.toLocaleString('en-US', { dateStyle: 'long', timeZone: 'UTC' }) }}</b></p>
          <p>{{ item.data.startTime }} - {{ item.data.endTime }}</p>
          <a href={{ item.url }}>{{ item.data.title }}</p>
        </li>
      {%- endfor -%}
      </ul>
    </div>
    <div>
      <h3>Concerts</h3>
      <ul>
      {%- for item in collections.concerts -%}
        <li>
          <p><b>{{ item.data.date.toLocaleString('en-US', { dateStyle: 'short', timeStyle: 'short' }) }}</b></p>
          <a href={{ item.url }}>{{ item.data.title }}</p>
        </li>
      {%- endfor -%}
      </ul>
    </div>
  </div>
</div>
<div>
  <h1>Viola da Gamba Philly</h1>
  <p>We play the viola da gamba, an early music stringed instrument known for its beautiful solo, chamber, and consort repertoire. Our community hosts events, such as workshops, play-ins, and concerts, in and around Philadelphia dedicated to the enjoyment and blossoming of this marvelous instrument.</p>
  <p><a href="/join-us" class="button">Join Us</a></p>
</div>
