---js
const eleventyNavigation = {
	key: "Home",
	order: 1
};
---
<img src="./vdgsphilly_logo.png" alt="VdGS Philly Logo">
{# List every content page in the project #}
{#
<ul>
	{%- for entry in collections.all %}
	<li><a href="{{ entry.url }}"><code>{{ entry.url }}</code></a></li>
	{%- endfor %}
</ul>
#}
