---js
const eleventyNavigation = {
	key: "Play-Ins",
	order: 2
};
---
<h1>Play-Ins</h1>

<p>Viola da Gamba Philly periodically hosts play-ins with community members.</p>

{% set postslist = collections.playIns %}
{% include "postslist.njk" %}
{% if not collections.playIns|length %}
	<p><i>No play-ins currently scheduled.</i></p>
{% endif %}