---
pagination:
  data: collections["workshops"]
  size: 1
  alias: workshop
permalink: "/registration/{{ workshop.fileSlug }}/"
eleventyExcludeFromCollections: true
---

<h1>Register for {{ workshop.data.title }}</h1>

<p>{{ workshop.data.description }}</p>

<p>
  <strong>Date:</strong>
  {{ workshop.data.date | readableDate }}
</p>

<div class="buttons">
  <a href="{{ workshop.data.registration.student.stripePaymentLink }}" class="button">
    <h3>Student</h3>
    ${{ workshop.data.registration.student.price }}
  </a>

  <a href="{{ workshop.data.registration.regular.stripePaymentLink }}" class="button">
    <h3>Regular</h3>
    ${{ workshop.data.registration.regular.price }}
  </a>
</div>