---js
const eleventyNavigation = {
	key: "Workshops",
	order: 1
};
---
<h1>Workshops</h1>

<p>Viola da Gamba Philly periodically hosts workshops with skilled professional viol players.</p>

{% set postslist = collections.workshops %}
{% include "postslist.njk" %}
